



/*----- Tabs -----*/
.tabs {
	width: 100%;
	display: inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 2px 12px;
	display: inline-block;
	list-style: none;
}

.tab-links a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 6px;
	background: #e5a7a7;
	font-size: 16px;
	font-weight: 600;
	transition: all linear 0.15s;
}

.tab-links a:hover {
	background: #e46e6e;
	text-decoration: none;
}

li.active a,
li.active a:hover {
	background: #EA1C2D;
}

/*----- Content of Tabs -----*/
.tab-content {
	padding: 15px;
	border-radius: 3px;
	border-color: black;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	background: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}

#parking-table {

	border: 1px solid black;
	border-collapse: collapse;
}


.directions-link a {
	padding: 9px 40px;
	display: inline-block;
	background: #a6a6a6;
	font-size: 15px;
	transition: all linear 0.15s;
	width: 50%;
}
.directions-link a:hover {
	background: #868686;
	text-decoration: none;

}

.directions-link li {

	margin: 2px 12px;
	list-style: none;

}

.directions-link li.active a,
.directions-link li.active a:hover {
	background: #585858;

	margin: 2px 12px;
	list-style: none;

}
.container{
	display: none;


}
