html {
    scroll-behavior: smooth;
  }
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.navbar-custom {
    background-color: #002F5E;
    color: white;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

#projectSelect {
    display: inline-block;
    text-align: center;
    width: 100%;

}
#navbar{
    z-index: 100;
    width: 100%;
    position: fixed;
    top:0;
    transition: top 0.1s;
}
#navbarMenu{
    z-index: 100;
    width: 100%;
    top:55px;
    transition: top 0.1s;
}
#seminarSelect {
    display: inline-block;
    transition: 1s;
    width: 100%;

}

#aiproject {
    display: inline-block;
    text-align: center;

}

#bdproject {
    display: inline-block;
    text-align: center;

}

#csproject {
    display: inline-block;
    text-align: center;

}

#improject {
    display: inline-block;
    text-align: center;

}

.navbar-nav>li {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    color: white !important;
}

.rounded-xl {

    border-radius: 2rem;

}

.column {
  display: inline-block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.container{
    text-align:center;
}
.footer-section{
    background-color: #002F5E ;
}
.nav-link{
    font-size: larger;
}
