

/* Test */

.container-1 {
    background-color: #FFF;
    
    padding: 20px;
    position: relative;
  }

  .speaker-profile {
    margin: 0%;
  }
  

  
  .card-body {
    padding: 0% !important;
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    width: 300px !important;
  }
  
  .card-img-top {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      height: 200px;
      width: 100px;
      transition: .5s ease;
      
  }
  
  .card-body {
    border: none;
  }
  
  .special {
    width: 350px;

  }
  
  .row-speaker {
    margin-top: 5%;
    justify-content: center;
  }


/* Overlay Effect for Speaker card */
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card:hover .middle {
    opacity: 1;
  }
  
  .card:hover .card-img-top {
    opacity: 0.3;
  }
  
  
  
  /* CSS */
  .button-1 {
    background-color: #01288E;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.modal-title{
    color: red;
}