@media (max-device-width: 1000px)  {
    #navbarMenu {
        display: none;

    }

    .dropbtn {
        display: block;
    }

}
@media (max-width: 1000px) {
    #navbarMenu {
        display: none;

    }

    .dropbtn {
        display: block;
    }

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#projectSelect {
    display: inline-block;
    text-align: center;
    width: 100%;

}

#seminarSelect {
    display: inline-block;
    transition: 1s;
    width: 100%;

}

#aiproject {
    display: inline-block;
    text-align: center;

}

#bdproject {
    display: inline-block;
    text-align: center;

}

#csproject {
    display: inline-block;
    text-align: center;

}

#improject {
    display: inline-block;
    text-align: center;

}

.rounded-xl {

    border-radius: 3rem;
    transition: 0.5s;

}

.rounded-xl:hover {

    border-radius: 3rem;
    filter: grayscale(100%);
}

.column {
    display: inline-block;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    text-align: center;
}

.footer-section {
    background-color: #002F5E;
}
a{
    text-decoration: none !important;
}